{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('https://media.giphy.com/media/HIZGLV8JVuRm6LuavD/giphy.gif')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
         "Hey there! Welcome to our awesome website, where superheroes called NGOs tackle local issues head-on! 🦸‍♀️🦸‍♂️
          Get ready to dive into a world of inspiration and action. Sign up with your email and unlock a gateway to
          connect with these change-makers. Explore captivating stories, discover the challenges our communities face,
          and find out how you can be a part of the solution. Together, let's create a brighter future! 💪🌍"
        </p>
        <p>
          Hi
This is Karman, Developer of the Backend and Frontend of this website || CSE Graduate at Guru Nanak Dev University || Web Development lead at Algozenith G.N.D.U || Ex Creative lead at Algozenith G.N.D.U ||
Here are my some API based projects
1.) searching top hundred songs from Billboard and making a Spotify playlist out of that.
2.) Check the weather data and messaging if there is a chance of rain
3.) checking the live location of international space station and checking whether it's day or night and sending mail if international space station is nearby
4.) saving data of new user on Google sheets , fetching and analysing the live data of flights
5.) checking the live stock price and will notify if there is sudden fluctuation in stock price
6.) api based quiz
7.) api based motivational quote sender on Mondays
8.) exercise tracker with natural language processing
9.) tracker for things like cycling, exercise, meditation and book reading
        </p>
        <p>
          Kanika Dhawan
          CSE Graduate at Guru Nanak Dev University || Front- end Developer || club member at gjcei || Learning DSA
          || Form front end developer of this website
        </p>
         <p>
          Naman Dhingra
          Electronics Student | Python | Space Enthusiast | AI, ML | Research and Development (R&D) | Working Part Time as Accountant receivable || PPT work for this website ||
        </p>
         <p>
          Harshleen Kaur Sandhu
          Graphic designer at Algozenith GNDU || PPT work for this website ||
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
