{% include "header.html" %}
<!--<header class="masthead" style="background-image: url('../static/assets/img/home-page.gif') ">-->
<header class="masthead" style="background-image: url('/Users/karmansingh/Documents/Massive_python_projects_by_Karman/hackerthon_final/static/assets/img/home_page.gif') ">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{Title}}</h1>
                    <h2 class="subheading">{{ Subtitle }}</h2>

                </div>
            </div>
        </div>
    </div>
</header>


{% include "footer.html" %}
